body:has(.register-wrapper) {
    background-image: url("../../assets/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.register-component{
    width: max-content;
    margin: 0 auto;
}
.register-header {
    position: relative;
}
.register-body-title{
    gap: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-body-circles{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.register-body-circle{
    width: 4.5px;
    height: 4.5px;
    border-radius: 100px;
    background-color: #FF6F06;
}
.register-header::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #151213, #14101175);
}

.register-body {
    background-color: #151213;
    padding-bottom: 30px;

    h2 {
        margin: 0;
        padding: 20px 0;
        font-size: 14px;
        font-weight: 700;
        line-height: 17.05px;
        text-align: center;

    }

    .register-body-fields {
        display: flex;
        flex-direction: column;
        gap: 13px;
        align-items: center;
        margin-bottom: 42px;
        input[type='text'], input[type='email'],input[type='number'] {
            width: 400px;
            text-align: center;
            color: white;
            background: #0B0708;
            border: none;
            outline: none;
            height: 60px;
            box-shadow: 0px 10px 10px -5px #0000005E;

        }

        input::placeholder {
            color: #A6A6A62B;
            /*text-transform: uppercase;*/
        }
    }
    .register-body-submit{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: relative;
        width: max-content;
        margin: 0 auto;
        img{
            cursor: pointer;
            padding: 9px 20px;
            background-color: #0B0708;
            border-radius: 2px;
            box-shadow: 0px 10px 10px -5px #0000005E;
            position: absolute;
            left: -70px;
        }
    }
}
.register-error-block{
    background-color: #131011;
    color: white;
    padding: 15px 18px;
    display: flex;
    align-items: center;
    gap: 14px;
    margin-top: 50px;
    p{
        margin: 0;
        text-align: start;
    }
}
.register-error-block span{
    color:#FF5353;
}
.register-error-block .time-duration{
    color: #FFFFFF1F;
}
.register-error-block .register-error-icon-wrapper .register-error-icon{

}
.register-error-block .register-error-block-header{
    display: flex;
    gap: 10px;
    align-items: center;
}
.register-error-icon-wrapper{
    border-radius: 100px;
    border: 2px solid #FF5353;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}